body {
    background-color: #eeee;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
  }

.body-content{
    margin-top: 50px;
}

.position-absolute {
    position: absolute;
} 


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 70px;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    transition: all .4s;
    background-color: #343a40;
}

button:active {
    color: #fff;
}


.btn-green {
    background-color: #00ba54;
    box-shadow: 0 10px 30px 0 rgba(5,172,80,.5);
    -moz-box-shadow: 0 10px 30px 0 rgba(5,172,80,.5);
    -webkit-box-shadow: 0 10px 30px 0 rgba(5,172,80,.5);
    -o-box-shadow: 0 10px 30px 0 rgba(5,172,80,.5);
}

.btn-green:hover{ 
   color: #eeeeee;
}

.btn-filtro{ 
    margin-top: 25px;
    margin-left: 15px;
}

.card-primary{
    width: 280px;  
}

.alerta{
    font-size: 14px;
}

.swal2-confirm{
    background-color: #00ba54!important;
}